/* Default Colors */
$Main-Text: #000000;
$Main-Background2: #F2D785;
$Main-Hover: #7278F2;
$Main-Background: #F2F2F2;
$Main-Card: #474554;

@mixin button {
	border-radius: 8px;
	text-align: center;
	background-color: $Main-Hover;
	padding: 7.5px 55px;
	font-size: 18px;
	outline: none;
	border: none;
	color: white;
}

*{
	margin: 0;
	padding: 0;
}

body {
	background-color: $Main-Background;
}

@import "./mainPage/header";
@import "./mainPage/firstPart";
@import "./auth/sign";
@import "./mainPage/card";