/* Default Colors */
$Main-Text: #F2F2F2;
$Main-Background2: #F2B6A0;
$Main-Hover: #297350;
$Main-Background: #2C3740;
$Graphic-Design-5-rgba: #F2E527;

*{
	margin: 0;
	padding: 0;
}

body {
	background-color: $Main-Background;
}

@import "./mainPage/header.scss";
@import "./mainPage/firstPart.scss"
